{% extends "base.html" %}

{% block content %}

<form action="" method="post">{% csrf_token %}

{% if form.errors %}
<p>Something didn't match. Please try again.</p>
{% endif %}

Use the form below to change your password.

<p>"Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly."</p>

<table>
<tr>
    <td><label for="id_old_password" class="required">'Old password:'</label></td>
    <td>{{ form.old_password }}</td>
</tr>
<tr>
    <td><label for="id_new_password1" class="required">'New password:'</label></td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td><label for="id_new_password2" class="required">'Password (again):'</label></td>
    <td>{{ form.new_password2 }}</td>
</tr>
</table>

<input type="submit" value="Change my password" class="default" />



</form>

{% endblock %}
